.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--spacing-l) 0;
  // max-width: var(--max-width);
  width: var(--width);

  a {
    font-size: var(--font-size-m);
    font-weight: bold;
    // text-transform: uppercase;
  }

  ul {
    display: flex;
    a {
      margin: 0 1rem;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }
}
